body {
  font-family: 'Lato', sans-serif;
}
.sidebar{display:none;}
.mainbar a, a:hover{
  color: #000;
}
.mainbar #tips pre code{
  background-color: #eee;
  border: 1px solid #999;
  display:block;
  padding: 10px;
}

.mainbar #tips code{
  overflow: scroll;
}

.mainbar #tips .location{
  color: #7a7a7a;
  margin-bottom: 3px;
}

.mainbar #tips .step{
  color: #000000;
  font-weight: 300;
  margin-bottom:3px;
}

footer{
  background-color: #111;
}

@media screen and (min-width: 1280px){
  .mainbar #tableofcontents{display:none;}
  .sidebar{
    display:block;
    width:265px;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background-color:#111;
    overflow-x:hidden;
    padding:10px;
  }
  .sidebar ul{padding-inline-start: 20px;}
  .sidebar ul li{white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
  .sidebar a{
    font-size: 14px;
    font-weight: 300;
    color: #7f7f7f;
    text-decoration:none;
  }
  .sidebar a:hover{
    color: #f1f1f1;
  }
  .sidebar h2{text-transform:uppercase; font-size: 25px;}
  .mainbar{
    margin-left: 280px;
    margin-right: 15px;
  }
}
